:root {
	--green: #2f5a2d;
	--black: #333333;
	--light-black: #999999;
	--light-gray: #dddddd;
	--light-beige: #ece9e1;
	--strong-font: 22px;
	--normal-font: 16px;
	--box-round: 10px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
	background-color:transparent;
}

html {
	background-color: #ece9e1;
}

.ac{
	text-align: center;
}
  
*:focus {
	outline: 0;
  
}

.p20{
	padding-left: 20px;
	padding-right: 20px;
}

.font22{
	font-size: 22px;
}

.font16{
	font-size: 16px;
}

a, button{
	cursor: pointer;
}