:root {
	--green: #2f5a2d;
	--black: #333333;
	--light-black: #999999;
	--light-gray: #dddddd;
	--light-beige: #ece9e1;
	--strong-font: 20px;
	--normal-font: 16px;
	--box-round: 10px;
	--box-shadow : 0px 4px 5px 2px #D9D9D955;
	--flexible-box : calc(100% - 40px)
}

input::placeholder{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #ece9e1;
}

.ac {
	text-align: center;
}

*:focus {
	outline: 0;
}

.p20 {
	padding-left: 20px;
	padding-right: 20px;
}

.font22 {
	font-size: 22px;
}

.font16 {
	font-size: 16px;
}

a,
button {
	cursor: pointer;
}

button, input{
	border: 0;
    outline: 0;
	background-color: transparent;
}

main{
	width: 530px;
}