:root {
	--green: #2f5a2d;
	--black: #333333;
	--light-black: #999999;
	--light-gray: #dddddd;
	--strong-font: 22px;
	--normal-font: 16px;
	--box-round: 10px;
}

li{list-style: none;}

a{text-decoration: none; color: #333;}

*{
  margin: 0;
  padding: 0;
}

html{
	background: #ece9e1;
}

.ac{
	text-align: center;
}