.box {
	width: 530px;
	/* height: 100vh;*/
	margin-bottom: 90px;
}

.img {
	width: 250px;
	margin: 50px 150px 50px 150px;

}

.currentp {
	display: flex;
    padding-right: 340px;
	margin-top: 50px;
	margin-bottom: 20px;
    color: var(--black);
    justify-content: space-around;
}

.text1 {
    display: flex;
    padding-right: 330px;
    line-height: 1px;
    color: var(--light-black);
    justify-content: space-around;
}

.homesearchp{
    display: flex;
    margin-bottom: 30px;

}