.tblBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tblImgBox {
    margin: 100px;
}

.tblimg {
    width: 90px;
    margin: 0px auto;
    display: block;


}

.tblText {
    font-size: var(--normal-size);
    margin: 0 0 15px 25px;
    font-weight: 700;
}