.button {
	background-color: #2f5a2d;
	width: 100%;
	max-width: 530px;
	height: 62px;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
	border-radius: 10px 10px 0 0;
	font-size: 18px;
	position: fixed;
	bottom: 0;
	border: 0;
}
