
.footerBox {
	width: 530px;
	height: 308px;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	margin-top: 50px;

	/*사실 fixed 는 아닌데 보기 편하라고 쓴거임
    position: absolute;
    bottom: 0;
    border: 1px solid var(--green);
    position: fixed;
    bottom: 0;*/
}

.footerBox2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logoimg {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.izonelogo {
	width: 60px;
}

.footerText {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	color: var(--light-gray);
	font-size: 12px;
	text-align: center;
	line-height: 17px;
	width: 360;
	height: 104;
	word-spacing: 5px;
	margin-bottom: 20px;
}

.text {
	justify-content: center;
	font-size: 12px;
}

.footerlogo {
	color: var(--light-gray);
}

a {
	color: var(--light-gray);
	text-decoration: none;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
}
