@import url('../../style/CommonStyle.css');

.box,
.box2 {
	/*position: fixed;
	top: 0;*/
	margin-bottom: 10px;
	border: 1px solid var(--green);
	font-size: var(--strong-font);
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 530px;
}

.AppLogo {
	width: 100px;
	height: 35px;
	margin: 10px 10px 10px 20px;
}

.loginText {
	margin: 10px 20px 10px 10px;
}

.AppBtnback {
	width: 22px;
	margin: 10px 20px 10px 10px;
}

.loginText3 {
	color: white;
}
