.nav{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.li{
    font-size: 16px;
    margin-right: 5px;
}
.li button{
    font-size: 16px;
}
.li:last-child{
    margin-right: 0;
}