.Text .TextIner {
	display: flex;
	justify-content: center;
}

.TextIner {
	height: 250px;
	width: 440px;
	background-color: #fff;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	font-size: 18px;
	padding: 15px;
	margin-top: 10px;
	resize: none;
}
