.Main > * {
	text-align: center;
}

.Contents {
	height: 300px;
	padding: 50px 0;
}

.Contents img {
	width: 250px;
	height: 250px;
}

.LoginInput input {
	height: 32px;
	min-width: 440px;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	font-size: 18px;
	padding: 15px;
	margin-bottom: 15px;
}

.LoginInput input:focus {
	border-color: #2f5a2d;
}

.Main button {
	height: 62px;
	min-width: 470px;
	background-color: #2f5a2d;
	color: #fff;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	text-align: center;
}

.SignUp {
	margin-top: 20px;
	font-size: 18px;
}

.SignUp span {
	color: #2f5a2d;
	font-weight: bold;
}
