.Main > * {
	text-align: center;
}

.Contents {
	height: 300px;
	padding: 50px 0;
}

.Contents img {
	width: 250px;
	height: 250px;
}

.LoginInput {
	position: relative;
	left: 30px;
}

.Input {
	height: 32px;
	width: 440px;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	font-size: 18px;
	padding: 15px;
	margin-bottom: 15px;
	background-color: #fff;
}

.Input input {
	border: 0;
	font-size: 18px;
	width: 400px;
	height: 30px;
	margin-left: 10px;
}

.Button button {
	height: 62px;
	min-width: 470px;
	background-color: #2f5a2d;
	color: #fff;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	text-align: center;
}

.SignUp {
	margin-top: 20px;
	font-size: 18px;
}

.SignUp .Link {
	color: #2f5a2d;
	font-weight: bold;
}
