.Main {
	position: relative;
}

.Main > * {
	text-align: center;
}

.Main input {
	height: 32px;
	min-width: 440px;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	font-size: 18px;
	padding: 15px;
	margin-top: 10px;
}

.NickName input {
	min-width: 370px;
	margin-right: 10px;
}

.NickName button {
	height: 62px;
	min-width: 62px;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1);
	font-size: 18px;
	background-color: var(--green);
	color: #fff;
}

.Main label {
	display: flex;
	padding: 0 30px;
	margin-top: 35px;
}
